@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}
body{
  font-family: 'Ubuntu', sans-serif;
}
i{
  font-size: 1.5rem;
}
.App{
  display: flex;
  flex-direction: column;

}