.Landing_contacts{
    border: 2px solid red;
  background-color: #ffeddf;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .rdinfo{
    border: 2px soild red;
    height: 20vh;
  }
  .asbinfo{
    border: 2px soild red;
    height: 20vh;

  }

}