.Photo_main_page {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.Photo_main_page .fa-cloud-arrow-up {
  color: #1D70A2;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}
.Photo_main_page .fa-circle-plus {
  background: #FFF;
  border-radius: 50%;
  color: #1D70A2;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 4rem;
  filter: drop-shadow(0 0 10px rgba(51, 51, 51, 0.418));
}
.Photo_main_page .fa-circle-plus:active {
  transform: scale(0.85);
}

.photo_wrapper {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, 10rem);
}
.photo_wrapper .photo_box {
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
  justify-self: flex-start !important;
}
.photo_wrapper .photo_box:hover img {
  transform: scale(0.95);
}
.photo_wrapper .photo_box:nth-child(1) {
  display: grid;
  place-items: center;
  border-radius: 10px;
  border: 2px dotted #333;
}
.photo_wrapper .photo_box img {
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.photo_wrapper .photo_box .option_list {
  top: 15%;
  left: 90%;
  z-index: 999;
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  transition: all 0.2s linear;
  height: 0;
  overflow: hidden;
}
.photo_wrapper .photo_box .option_list .listitem {
  gap: 1rem;
  width: 8rem;
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  background: #fff;
  border: none;
  font-size: 1.05rem;
}
.photo_wrapper .photo_box .option_list .listitem:hover {
  background-color: #22DBE7;
  color: #fff;
}
.photo_wrapper .photo_box .option_list_show {
  height: 120px;
}
.photo_wrapper .photo_box .photo_box_hover {
  opacity: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  border-radius: 10px;
  align-items: flex-start;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.295);
  padding: 0.8em 0.8rem 0 0.8rem;
  transition: all 0.2s linear;
  transform: scale(0.95);
}
.photo_wrapper .photo_box .photo_box_hover:hover {
  opacity: 1;
}
.photo_wrapper .photo_box .photo_box_hover #photo_check {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.photo_wrapper .photo_box .photo_box_hover .fa-ellipsis-vertical {
  color: #fff;
  padding: 0 0.5rem;
}
.photo_wrapper .photo_box .checked {
  opacity: 1;
}

.Uploadwrapper {
  z-index: 9999;
  display: flex;
  background-color: #fff;
  border: 2px solid rgba(51, 51, 51, 0.295);
  border-radius: 10px;
  max-width: 50rem;
  width: 100%;
  opacity: 0;
  min-height: 60vh;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s linear;
  gap: 2rem;
  padding: 3rem 2rem;
}
.Uploadwrapper .uploadbox {
  border-radius: 10px;
  border: 2px dotted #333;
  font-size: 2rem;
  width: 90%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.Uploadwrapper .uploadbox i {
  color: #1D70A2;
  font-size: 4rem;
  cursor: pointer;
}
.Uploadwrapper button {
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #fff;
  color: #22E2E2;
  border: 1px solid black;
  border-color: #22E2E2;
  transition: all 0.2s linear;
}
.Uploadwrapper button:hover {
  color: #fff;
  background-color: #22E2E2;
}
.Uploadwrapper .fa-circle-xmark {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.15s linear;
  color: #1D70A2;
}

.upload {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.loader_wrapper {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.349);
}
.loader_wrapper .loader {
  width: 48px;
  height: 48px;
  border: 10px solid #FFF;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.loader_wrapper .loader::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  inset: -10px;
  border-radius: 50%;
  border: 10px solid aqua;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.delete_photo_modal {
  top: 50%;
  left: 50%;
  gap: 1.5rem;
  width: 100%;
  display: flex;
  max-width: 30rem;
  width: 100%;
  box-shadow: 0 0 5px grey;
  position: fixed;
  background: #fff;
  z-index: 9999;
  padding: 1rem;
  border-radius: 10px;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.15s linear;
}
.delete_photo_modal P {
  border: 1px solid rgba(51, 51, 51, 0.562);
  border-left: none;
  border-right: none;
  padding: 0.7rem;
}
.delete_photo_modal .delete_cancel {
  display: flex;
  justify-content: space-between;
}
.delete_photo_modal .delete_cancel button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: #1D70A2;
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: all 0.15s linear;
}
.delete_photo_modal .delete_cancel button:hover {
  border: 2px solid #1D70A2;
  color: #1D70A2;
  background: #fff;
}
.delete_photo_modal .delete_cancel button:nth-child(2) {
  background: #dc3545;
}
.delete_photo_modal .delete_cancel button:nth-child(2):hover {
  background: #fff;
  color: #dc3545;
  border: 2px solid #dc3545;
}

.viewPhoto {
  max-width: 30rem;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%) scale(0);
  height: 30rem;
  transition: all 0.15s linear;
}
.viewPhoto img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 8px grey;
}
.viewPhoto .fa-xmark {
  position: absolute;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  border: 1px solid #eee;
  box-shadow: 0 0 4px rgba(51, 51, 51, 0.315);
  background: #fff;
  top: -8%;
  right: 45%;
  font-size: 2rem;
  cursor: pointer;
  color: #1D70A2;
}

.selectAll_option_modal {
  width: 100%;
  background: #1D70A2;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 0;
  overflow: hidden;
  transform-origin: top;
  transition: all 0.2s linear;
}
.selectAll_option_modal i {
  cursor: pointer;
}
.selectAll_option_modal input {
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
}
.selectAll_option_modal .option-control {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  color: #fff;
  font-weight: bold;
}
.selectAll_option_modal .options {
  display: flex;
  gap: 1rem;
  color: #fff;
}/*# sourceMappingURL=Photomain.css.map */